---
import Mainlayout from "../layout/mainlayout.astro";
import { Image } from "astro:assets";
import Content from "./homepage/content.astro";
---

<Mainlayout>
  <!-- grafik -->
  <section>
    <div
      class="absolute left-[800px] mt-[35px] inline-flex h-[380px] w-[508.78px] items-center justify-center rounded-[20px] bg-mine-basic"
    >
      <img
     0   class="flex h-[334px] w-[460px] items-center justify-center"
        src="../../public//images/grafik.png"
        alt="grafik"
      />
    </div>
    <!-- grafik -->
    <div class="flex flex-wrap"></div>
    <div class="mt-[70px] h-[186.75px] w-[523.1px]">
      <span class="font-primary text-[48px] font-semibold text-white"
        >Optimizing Your Farm With
      </span><span
        class="font-primary text-[48px] font-semibold leading-[101.25px] text-green-300"
        >Field</span
      ><span
        class="font-primary text-[48px] font-semibold leading-[101.25px] text-yellow-400"
        >IQ</span
      >
      <span class="font-primary text-white opacity-[70%]">
        Empowerment at Your Fingertips
      </span>
    </div>
    <div class="relative top-[70px] h-[56.25px] w-[196.88px] rounded-[16.88px]">
      <div
        class="h-18 absolute left-0 top-0 w-[197px] rounded-[16.88px] bg-amber-300"
      >
      </div>
  
      <!-- Modal toggle -->
      <div
        class="h-18 absolute left-0 top-0 h-14 w-[197px] rounded-[16.88px] bg-amber-300"
      >
        <button
          data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal"
          class="absolute left-[31.63px] top-[10px] text-center font-primary text-xl font-semibold leading-9 text-zinc-800"
          type="button"
        >
          Get started !
        </button>
      </div>
  
      <!-- Main modal -->
      <div
        id="authentication-modal"
        tabindex="-1"
        aria-hidden="true"
        class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-md p-4">
          <!-- Modal content -->
          <div
            class="relative rounded-lg border border-gray-400 bg-white shadow dark:bg-gray-700"
          >
            <!-- Modal header -->
            <div
              class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Log in to FieldIQ
              </h3>
              <button
                type="button"
                class="end-2.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="authentication-modal"
              >
                <svg
                  class="h-3 w-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
              <form class="space-y-4" action="#">
                <div>
                  <label
                    for="username"
                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >Username</label
                  >
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
                    placeholder="Enter your username"
                    required
                  />
                </div>
  
                <div>
                  <label
                    for="password"
                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter your password"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
                    required
                  />
                </div>
                <div>
                  <label
                    for="password"
                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                    >Code Verification</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter your code"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
                    required
                  />
                </div>
                <div class="flex justify-between">
                  <div class="flex items-start">
                    <div class="flex h-5 items-center">
                      <input
                        id="remember"
                        type="checkbox"
                        value=""
                        class="focus:ring-3 h-4 w-4 rounded border border-gray-300 bg-gray-50 focus:ring-blue-300 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
                        required
                      />
                    </div>
                    <label
                      for="remember"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Remember me</label
                    >
                  </div>
                  <a
                    class="text-sm text-amber-300 hover:underline dark:text-amber-200"
                    >Lost Password?</a
                  >
                </div>
                <button
                  id="buttonAlert"
                  type="submit"
                  class="w-full rounded-lg bg-amber-300 px-5 py-2.5 text-center text-sm font-medium text-zinc-800 hover:bg-amber-300 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >Login to your account
                </button>
                <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                  Not registered? <a
                    href="/signup"
                    class="text-amber-300 hover:underline dark:text-amber-200"
                    >Create account</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    function handleClick() {
      alert(
        "welcome back " +
          (document.getElementById("username") as HTMLInputElement).value
      );
      window.location.href = "/#";
    }
    document
      .getElementById("buttonAlert")
      .addEventListener("click", handleClick);
  </script>
</Mainlayout>
<Content client:idle />
