---

---

<html class="h-full">
  <body
    class="flex h-full items-center bg-white bg-left py-16 dark:bg-slate-900"
  >
    <img
      class="absolute-left ml-[8rem] h-auto w-[38rem]"
      src="../../public/images/petani.png"
      alt=""
    />
    <main class="absolute right-20 ml-[4rem] w-full max-w-md p-9">
      <div
        class="shadow- rounded-xl border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800"
      >
        <div class="p-4 sm:p-7">
          <div>
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
              Create Account
            </h1>
            <p class="mt-2 text-sm font-normal text-gray-400">
              Follow the instructions to make it easier to register and you will
              be able to explore inside.
            </p>
          </div>

          <div class="mt-6">
            <!-- Form -->
            <form>
              <div class="grid gap-y-4">
                <!-- Form Group -->
                <div>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                    >
                      <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 448 512"
                      >
                        <path
                          d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                        ></path>
                      </svg>
                    </div>
                    <input
                      type="text"
                      id="username"
                      value=""
                      name="username"
                      class="block w-full rounded-lg border-gray-200 p-2.5 px-4 py-3 ps-10 text-sm focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:focus:ring-gray-600"
                      required
                      aria-describedby="email-error"
                      placeholder="Username"
                    />
                    <div
                      class="pointer-events-none absolute inset-y-0 end-0 hidden pe-3"
                    >
                      <svg
                        class="size-5 text-red-500"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                      >
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p class="mt-2 hidden text-xs text-red-600" id="email-error">
                    Please include a valid email address so we can get back to
                    you
                  </p>
                </div>
                <div>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                    >
                      <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                        ></path></svg
                      >
                    </div>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="block w-full rounded-lg border-gray-200 p-2.5 px-4 py-3 ps-10 text-sm focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:focus:ring-gray-600"
                      required
                      aria-describedby="email-error"
                      placeholder="Email"
                    />
                    <div
                      class="pointer-events-none absolute inset-y-0 end-0 hidden pe-3"
                    >
                      <svg
                        class="size-5 text-red-500"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                      >
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <p class="mt-2 hidden text-xs text-red-600" id="email-error">
                  Please include a valid email address so we can get back to you
                </p>
                <!-- End Form Group -->

                <!-- password -->
                <!-- Form Group -->
                <div>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                    >
                      <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 448 512"
                      >
                        <path
                          d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
                        ></path>
                      </svg>
                    </div>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="block w-full rounded-lg border-gray-200 p-2.5 px-4 py-3 ps-10 text-sm focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:focus:ring-gray-600"
                      required
                      aria-describedby="password-error"
                      placeholder="Password"
                    />
                    <div
                      class="pointer-events-none absolute inset-y-0 end-0 hidden pe-3"
                    >
                      <svg
                        class="size-5 text-red-500"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                      >
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p
                    class="mt-2 hidden text-xs text-red-600"
                    id="password-error"
                  >
                    8+ characters required
                  </p>
                </div>
                <div>
                  <div class="flex items-center justify-between"></div>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
                    >
                      <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"
                        ></path><path
                          d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"
                        ></path><path
                          d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"
                        ></path><path
                          d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"
                        ></path><path d="M12 9h2V8h-2v1Z"></path>
                      </svg>
                    </div>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="p-2.5 ps-10 block w-full rounded-lg border-gray-200 px-4 py-3 text-sm focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-700 dark:bg-slate-900 dark:text-gray-400 dark:focus:ring-gray-600"
                      required
                      aria-describedby="password-error"
                      placeholder="Code Verification"
                    />
                    <div
                      class="pointer-events-none absolute inset-y-0 end-0 hidden pe-3"
                    >
                      <svg
                        class="size-5 text-red-500"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        aria-hidden="true"
                      >
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p
                    class="mt-2 hidden text-xs text-red-600"
                    id="password-error"
                  >
                    8+ characters required
                  </p>
                </div>
                <!-- End Form Group -->
                <button
                type="submit"
                class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent bg-amber-300 px-4 py-3 text-sm font-semibold text-zinc-800 hover:bg-amber-200 disabled:pointer-events-none disabled:opacity-50 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                onclick="alert('Created Account Success '+ document.getElementById('username').value)"
                ><a href="/#">Create Account</a></button
              >
              <p
                class="mt-2 text-center text-sm font-thin text-gray-600 dark:text-gray-400"
              >
                Do you have account?
                <a
                class="text-amber-300 decoration-2 hover:underline dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                href="/login"
                >
                Log in
              </a>
            </p>
          </div>
          </form>
          </div>
          <!-- End Form -->
        </div>
      </div>
    </main>
  </body>
</html>
