---
import ViewTransitions from "astro/components/ViewTransitions.astro"
---

<section class="mt-[236px] ">
  <ViewTransitions/>
  <div
    class="inline-flex  w-[1400px] flex-col items-center justify-end gap-14 bg-white px-[108px] pb-[60px] pt-[100px]"
  >
    <div class="inline-flex h-32 flex-col items-start justify-start gap-4">
      <div
        class="font-['SF Pro Display'] self-stretch text-center text-5xl font-semibold leading-[56px] text-black text-opacity-50"
      >
        Why you choose us?
      </div>
      <div class="inline-flex items-start justify-start self-stretch p-1">
        <div
          class="shrink grow basis-0 text-center font-['SVN-Gilroy'] text-base font-normal leading-normal tracking-tight text-black text-opacity-50"
        >
          When the life too much things you need more than you have. Let Peyme
          help your life to easier with smart payment system
        </div>
      </div>
    </div>
    <div
      class="relative flex h-[420px] w-[1224px] flex-col items-start justify-start"
    >
      <div class="inline-flex w-[1224px] items-center justify-between">
        <div
          class="inline-flex w-72 flex-col items-center justify-center gap-6"
        >
          <div
            class="inline-flex h-[200px] w-[200px] items-center justify-end pb-[21.04px] pl-[20.12px] pt-[21.13px]"
          >
            <div
              class="relative flex h-[157.83px] w-[186.32px] flex-col items-start justify-start"
            >
              <div class="h-[25px] w-[91.38px] rounded-[100px] bg-white shadow">
              </div>
              <div
                class="relative h-[31.03px] w-[30.17px] origin-top-left rotate-[-90.78deg]"
              >
              </div>
            </div>
          </div>
          <div
            class="flex h-[120px] w-[280px] flex-col items-start justify-start gap-4"
          >
            <div
              class="self-stretch text-center font-['SVN-Gilroy'] text-[26px] font-semibold leading-loose text-black text-opacity-50"
            >
              Purchase One Touch
            </div>
            <div
              class="h-[71px] self-stretch text-center font-['SVN-Gilroy'] text-base font-normal leading-normal tracking-tight text-black text-opacity-50"
            >
              Get a quick overview of all your transactions in our easy-to-use
              Peyme in one touch
            </div>
          </div>
        </div>
        <div
          class="inline-flex w-72 flex-col items-center justify-center gap-6"
        >
          <div
            class="inline-flex h-[200px] w-[200px] items-center justify-center px-[15.52px] pb-[20.79px] pt-[21.55px]"
          >
            <div
              class="relative flex h-[157.66px] w-[168.97px] flex-col items-start justify-start"
            >
              <div
                class="relative h-[76.16px] w-[76.16px] origin-top-left rotate-[9.38deg]"
              >
              </div>
              <div
                class="relative h-[68.10px] w-[68.10px] origin-top-left rotate-[24.38deg]"
              >
              </div>
              <div class="relative h-10 w-10 origin-top-left rotate-[24.38deg]">
              </div>
              <div
                class="relative h-[11.78px] w-[11.78px] origin-top-left rotate-[19.99deg] shadow"
              >
              </div>
              <div
                class="relative h-10 w-10 origin-top-left rotate-[-11.22deg]"
              >
              </div>
              <div class="relative h-[33.59px] w-[33.59px] shadow">
                <div
                  class="absolute left-0 top-0 h-[33.59px] w-[33.59px] rounded-full bg-white"
                >
                </div>
                <div
                  class="absolute left-[5.60px] top-[7.46px] inline-flex h-[20.53px] w-[20.53px] items-center justify-center p-[1.71px]"
                >
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex h-[120px] w-[280px] flex-col items-start justify-start gap-4"
          >
            <div
              class="self-stretch text-center font-['SVN-Gilroy'] text-[26px] font-semibold leading-loose text-black text-opacity-50"
            >
              Free Transactions
            </div>
            <div
              class="h-[71px] self-stretch text-center font-['SVN-Gilroy'] text-base font-normal leading-normal tracking-tight text-black text-opacity-50"
            >
              Every transactions in Peyme is free. You don’t worry about fees.
              Our profits base your satisfied and ads
            </div>
          </div>
        </div>
        <div
          class="inline-flex w-72 flex-col items-center justify-center gap-6"
        >
          <div
            class="inline-flex h-[200px] w-[200px] items-center justify-center px-[13.79px] pb-[17.70px] pt-[17.24px]"
          >
            <div
              class="relative flex h-[165.06px] w-[172.41px] flex-col items-start justify-start"
            >
              <div class="relative h-[165.06px] w-[133.19px]"></div>
              <div class="relative h-[61.28px] w-[39.22px]"></div>
              <div
                class="relative h-[41.67px] w-[41.67px] origin-top-left rotate-180 shadow"
              >
              </div>
            </div>
          </div>
          <div
            class="flex h-[120px] w-[280px] flex-col items-start justify-start gap-4"
          >
            <div
              class="self-stretch text-center font-['SVN-Gilroy'] text-[26px] font-semibold leading-loose text-black text-opacity-50"
            >
              Private and secure
            </div>
            <div
              class="h-[71px] self-stretch text-center font-['SVN-Gilroy'] text-base font-normal leading-normal tracking-tight text-black text-opacity-50"
            >
              None of your personcal data is ever collected or stored in our
              Peyme. Your history transaction just you see
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
