---
import ViewTransitions from "astro/components/ViewTransitions.astro"
---

<section class="mt-[236px] ">
  <ViewTransitions/>
  <div
    class="inline-flex  w-[1400px] flex-col items-center justify-end gap-14 bg-white px-[108px] "
  >
  <div>
    <img src="../../../public/images/content.png" alt="">
  </div>
  </div>
</section>
