---
import ViewTransitions from "astro/components/ViewTransitions.astro"
---

<section class="mt-[236px]">
  <ViewTransitions/></ViewTransitions>
  <div
    class="inline-flex w-[1400px]  items-center justify-end gap-14 bg-red-800"
  >
  <div>
    <img class="" src="../../../public/images/contentss.png" alt="">
  </div>
  </div>
</section>
