---
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<section class="flex">
  <div
    class="inline-flex w-[1400px] flex-col items-center justify-end gap-14 bg-[#1E2833]  "
  >
    <div class="">
      <img
        class="h-auto w-[100%]"
        src="../../../public/images/footer.png"
        alt=""
      />
    </div>
  </div>
</section>
