---
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../component/sidebar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../../public/images/vector.png" />
    <title>Field IQ</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#f3f3f3]" style="overflow-x: hidden;">
    <!-- <Sidebar/> -->
    <Sidebar />
    <main class="">
      <slot>
        kosongan nih isi woi jangan lupa...
        <!--  ini adalah isi konten dari luar -->
      </slot>
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
